*
.header-section{
    display: flex;
    width: 100%vh;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 10px 200px;
    font-size: 40px;
}
.header-description{
    font-size: 20px;
}
.btn{
    padding: 20px 45px;
    font-size: 25px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.main-section{
    width: 100%vh;
    display: flex;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    font-size: 30px;
}
.main-description{
    font-size: 20px;
    text-align: center;
}
.btn-title{
    margin-left: 220px;
    padding: 20px 45px;
    font-size: 25px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.span-primary{
    color: deeppink;
}
.social-section{
    margin: 100px 100px 100px 150px;
    
}
.instgram-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.instagram-description{
    font-size: 15px;
    margin-bottom: 30px;
}
.list-item{
    list-style: none;
    display: flex;
    gap: 5px;
}
.deal{
    margin: 30px 100px 5px 40px;
    background-image: url("./Flower asset/Rectangle\ 9.png");
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 20px 50px 100px 50px;
    
}

.deal-description{
    font-size: 20px;
    font-weight: normal;
}
.input{
    width: 550px;
    height: 64px;
    flex-shrink: 0;
    font-size: x-large;
    padding-left: 40px;
}
.last-btn{
    padding: 20px 45px;
    font-size: 25px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.footer-section{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: #161515;
    color: white;
    padding: 20px 80px 40px 5px;
    

}

.flower-description{
    font-size: 20px;
    color: rgba(189, 183, 183, 0.9);
}
#copiright{
    font-size: 15px;
    color: rgba(158, 153, 153, 0.9);
}
.flower-title{
    color: deeppink;

}
.feature-style{
    margin: 30px 100px 5px 40px;
    text-align: center;
    padding: 20px 50px 100px 50px;
}
.picter{
    list-style: none;
    display: flex;
    margin: 30px 70px 5px 100px;
    text-align: center;
    padding: 20px 50px 20px 180px;
    gap: 30px;
}
.img1{
    width: 310px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}
.img2{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.img3{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.list{
    display: flex;
    color: #272727;
    font-size: 20px;
text-align: center;
text-decoration-line: underline;
gap: 200px;
justify-content: center;

}
.icon{
    width: 100%vh;
    justify-content: center;
    gap: 180px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    background-position: center;
    margin-top: 50px;


}
.icon-style{
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-left: 20px;

}
.icon-description{
    display: flex;
    justify-content: center;
    gap: 130px;
}