*
.header-section{
    display: flex;
    width: 100%vh;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 10px 200px;
    font-size: 40px;
}
.header-description{
    font-size: 20px;
}
.btn{
    padding: 20px 45px;
    font-size: 25px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.main-section{
    display: flex;
    width: 100%vh;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    font-size: 30px;
}
.main-description{
    font-size: 20px;
    text-align: center;
}
.btn-title{
    margin-left: 220px;
    padding: 20px 45px;
    font-size: 25px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.span-primary{
    color: deeppink;
}
.social-section{
    width: 100%vh;
    margin: 100px 100px 100px 100px;
    
}
.instgram-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.instagram-description{
    font-size: 15px;
    margin-bottom: 30px;
}
.list-item{
    list-style: none;
    display: flex;
    gap: 5px;
}
.deal{
    margin: 30px 150px 5px 40px;
    background-image: url("./Flower asset/Rectangle\ 9.png");
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 20px 50px 100px 50px;
    
}

.deal-description{
    font-size: 20px;
    font-weight: normal;
}
.input{
    width: 550px;
    height: 64px;
    flex-shrink: 0;
    font-size: x-large;
    padding-left: 40px;
}
.last-btn{
    padding: 20px 45px;
    font-size: 25px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.footer-section{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%vh;
    background: #161515;
    color: white;
    padding: 20px 80px 40px 5px;
    

}

.flower-description{
    font-size: 20px;
    color: rgba(189, 183, 183, 0.9);
}
#copiright{
    font-size: 15px;
    color: rgba(158, 153, 153, 0.9);
}
.flower-title{
    color: deeppink;

}